<div class="app-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <h2 class="text-light"><i class="bi bi-controller"></i> NENTINDO </h2>
    <div class="me-auto">
    </div>
    <div>
      <button *ngIf="!isAuthenticated" class="btn btn-light text-danger" routerLink="/login" routerLinkActive="linkactive" ariaCurrentWhenActive="page">Einloggen</button>
      <button *ngIf="isAuthenticated" class="btn btn-light text-danger" (click)="logout()">Ausloggen</button>
      <!--<button class="btn btn-outline-danger" routerLink="/register" routerLinkActive="linkactive" ariaCurrentWhenActive="page">Registrieren</button>-->
    </div>
  </nav>
  <div class="container d-block justify-content-center align-items-center" style="height: 100%;">
    <router-outlet />
  </div>
</div>
<app-spinner *ngIf="isLoading$ | async"></app-spinner>
