<div class="container" style="max-width: 700px;">
    <h2>Registration</h2>
    <label class="mb-3">Bitte geben Sie alle Daten korrekt ein:</label>
    <div class="mb-3">
        <label for="user" class="form-label">Benutzername</label>
        <input type="text" class="form-control" id="user" placeholder="m.mustermann">
    </div>
    <div class="mb-3">
        <label for="display" class="form-label">Anzeigename</label>
        <input type="text" class="form-control" id="display" placeholder="Max Mustermann">
    </div>
    <div class="mb-3">
        <label for="pw" class="form-label">Passwort</label>
        <input type="password" class="form-control" id="pw" placeholder="************">
    </div>
    <div class="mb-3">
        <label for="pw2" class="form-label">Passwort wiederholen</label>
        <input type="password" class="form-control" id="pw2" placeholder="************">
    </div>
    <div class="d-grid">
        <button class="btn btn-block btn-danger">Bestätigen</button>
    </div>
</div>