<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Startseite</a></li>
        <li class="breadcrumb-item"><a routerLink="/news">Neuigkeiten</a></li>
        <li class="breadcrumb-item active" aria-current="page">Neuer Beitrag</li>
    </ol>
</nav>
<div>
    <h1>Neuer Beitrag</h1>
    <form (ngSubmit)="onSubmit()" #articleForm="ngForm">
        <div class="mb-3">
          <label for="newsletterId" class="form-label required">Newsletter</label>
          <select id="newsletterId" class="form-select" required [(ngModel)]="article.newsletterId" name="newsletterId">
            <option selected value="">--Bitte auswählen--</option>
            <option value="1">Konzernweite Informationen</option>
            <option value="2">Ankündigung neuer Games</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="title" class="form-label required">Titel</label>
          <input type="text" id="title" class="form-control" [maxlength]="100" required [(ngModel)]="article.title" name="title">
          <p class="text-muted text-end" style="font-size: 10px;">{{article.title.length}} / 100</p>
        </div>
        <div class="mb-3">
          <label for="photo" class="form-label required">Bild</label>
          <input type="file" id="photo" class="form-control" accept="image/*" required name="photo">
        </div>
      <div class="mb-3">
        <label for="summary" class="form-label required">Zusammenfassung</label>
        <textarea id="summary" class="form-control" required [maxlength]="255" [(ngModel)]="article.summary" name="summary"></textarea>
        <p class="text-muted text-end" style="font-size: 10px;">{{article.summary.length}} / 255</p>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label required">Beschreibung</label>
        <textarea id="description" rows="6" class="form-control" required [(ngModel)]="article.description" name="description"></textarea>
      </div>
      <button type="button" class="btn me-4" routerLink="/news">Zurück</button>
      <button type="submit" class="btn btn-danger" [disabled]="!articleForm.valid"><i class="bi bi-save"></i> Speichern</button>
    </form>
  </div>
  