/* You can add global styles to this file, and also import other style files */
.required::after {
    content: ' *';
    color: #DC3545;
}

.breadcrumb-item a, .list-group-item a.active {    
    color: #DC3545!important;
}

.list-group-item a.active {    
    font-weight: bold;
    text-decoration: dashed;
}

.snack-success .mat-mdc-snackbar-surface {
    background-color: #4caf50!important;
    color: white!important;
}

.snack-error .mat-mdc-snackbar-surface {
    background-color: #e63f52!important;
    color: white!important;
}