<div class="card">
    <img [src]="article.picture" class="card-img-top" alt="{{ article.title }}">    
    <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.summary }}</p>
        <span class="text-muted text-xs" style="font-size: 12px;">
            {{ article.published ? 'Veröffentlicht am ' + (article.publishedAt | date:'dd.MM.yyyy') : 'Erstellt am ' + (article.createdAt | date:'dd.MM.yyyy') }}, {{ article.createdBy?.displayName }}
        </span>
    </div>
    <div class="card-footer text-end">
        <a class="btn btn-light" routerLink="/news/details/{{article.id}}">Mehr erfahren <i class="bi bi-arrow-right"></i></a>
    </div>
</div>